html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: #023D19;
    color: #A5AEFF;
    margin: 0;
}

.active {
	cursor: pointer;
}